body {
  margin: 0;
  padding: 0;
  background: #C3BDB3;
  border-top: solid 6px #CC3D33;
  font: 2em Arial;
  color: #666;
}

#logo img{
  width: 400px;
}

#logo{
  float: left;
}

#statusbox {
  width: 360px;
  height: 185px;
  margin: 60px 0;
  padding: 10px 20px;
  background-color: #F4F4F2;
  float: left;
  clear: left;
}

#registry {
  font-size: 0.75em;
  float: left;
  width: 160px;
  margin-top: 15px;
  text-align: center;
}

#website {
  font-size: 0.75em;
  float: right;
  width: 160px;
  margin-top: 15px;
  text-align: center;
}

.pending {
  background: url('/img/yellow.png') no-repeat 12px 6px;
}

.ok {
  background: url('/img/green.png') no-repeat 12px 6px;
}

.fail {
  background: url('/img/red.png') no-repeat 12px 6px;
}

.status {
  text-align: center;
  font-size: 14px;
}

.title{
  border-bottom: 1px solid #666;
  font-weight: 800;
  color: black;
  text-align: center;
}

a {
  text-decoration: none;
  color: #CC3D33;
}

#credits {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  text-align: right;
}

#improve {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 16px;
}

.note {
  float: right;
  clear: both;
  font-size: 12px;
  margin: 25px -20px 0 0; 
  width: 150px;
  font-style: italic;
  color: #666;
  text-align: right;
}

.main {
  margin: 80px auto;
  width: 750px;
}

.pingdom {
  font-size: 15px;
  font-weight: 800;
  float: right;
  clear: both;
  width: 100%;
  text-align: center;
  margin-top: -5px;
}
/**************** twits ***********/
#twits {
  background-color: #F4F4F2;
  color: #000;
  padding: 10px 10px 20px 20px;
  float: right;
}

#twits .content{
  font-size: 14px;
  width: 280px;
  height: 352px;
  overflow: auto;
  color: #666;
}

.twit {
  padding: 5px;
  min-height: 57px;
  width: auto;
  border-bottom: 1px solid #666;
}
.twit img {
  float: left;
  margin: 5px 8px 15px 0;
}
.twit .text {
  margin: 0;
  text-align: left;
}
.twit .time a {
  color: #666;
  white-space: nowrap;
  text-decoration: none;
}
.twit .time a:hover {
  text-decoration: underline;
}
